* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair';
}

:root {
  --clr-oxfordBlue: #02182B;
  --clr-crimson: #D7263D;
  --clr-dodgerBlue: #0197F6;
  --clr-blueMunsell: #448FA3;
}